<p class="segoepr-font text-primary">
  <%= @question_category %>
</p>
<h2 class="header-font"><%= @question.text %></h2><br />
<% question_id = @question.id %>
<div class="row">
  <% if @answer %>
    <%= render 'questions/shared_show/buttons/button_previous' %>
    <%= render 'questions/shared_show/form_with_answer', question_id: question_id %>
    <%= render 'questions/shared_show/buttons/button_next' %>
    <%= render 'questions/shared_show/button_destroy_answer' %>
  <% else %>
    <%= render 'questions/shared_show/buttons/button_previous' %>
    <%= render 'questions/shared_show/form_without_answer', question_id: question_id %>
    <%= render 'questions/shared_show/buttons/button_next' %>
    <br /><br />
  <% end %>
</div><br /><br />
