<p class="segoepr-font25 text-primary">
  <%= QuestionCategory
    .return_question_category_full_name(@question.question_category_id) %>
</p>
<h2 class="header-font"><%= @question.text %></h2><br />
<% question_id = @question.id %>
<div class="row">
  <div class="col-md-2 col-md-offset-1"><br /><br /><br /><br />
    <%= render 'questions/shared_show/buttons/button_previous' %>
  </div>
  <div class="field col-md-6">
    <% if @answer %>
      <%= render 'questions/shared_show/form_with_answer',
                 question_id: question_id %>
    <% else %>
      <%= render 'questions/shared_show/form_without_answer',
                 question_id: question_id %>
    <% end %>
  </div><br />
  <div class="col-md-2"><br /><br /><br />
    <%= render 'questions/shared_show/buttons/button_next' %>
  </div><br />
</div><br /><br />
