<% if @questions.count == 0  %>
  <%= render 'questions/shared_index/message',
             message: 'There are not any questions yet' %>
<% else %>
  <ul class="nav nav-pills link-font blue">
    <li class="disabled">
      <%= render 'questions/shared_index/links/menu_link',
                 type_questions: 'All questions' %>
    </li>
    <li>
      <%= render 'questions/shared_index/links/menu_link',
                 type_questions: 'Questions with answers' %>
    </li>
    <li>
      <%= render 'questions/shared_index/links/menu_link',
                 type_questions: 'Questions without answers' %>
    </li><br /><br /><br />
  </ul>
  <%= render 'questions/shared_index/questions_paginate',
             type_questions: 'All questions' %>
<% end %><br />
<%= render 'questions/shared_index/links/new_question_link' %>
<br /><br />
