<ul class="nav nav-pills link-font">
  <li>
    <%= render 'questions/shared_index/links/menu_link',
               type_questions: 'All questions' %>
  </li>
  <li>
    <%= render 'questions/shared_index/links/menu_link',
               type_questions: 'Questions with answers' %>
  </li>
  <li class="disabled">
    <%= render 'questions/shared_index/links/menu_link',
               type_questions: 'Questions without answers' %>
  </li><br /><br /><br />
</ul>
<% if !@questions || @questions == [] %>
  <%= render 'questions/shared_index/message',
             message: 'All questions are answered' %>
<% else %>
  <%= render 'questions/shared_index/questions_paginate',
             type_questions: 'Questions without answers' %>
  <br /><br />
  <%= render 'questions/shared_index/links/new_question_link' %>
<% end %>
