<% if @question_categories.count == 0 %>
  <div class="segoepr-font">
    <span>
      There are not neither categories nor questions yet.<br />
      Create at least one category, before create a question.
    </span>
  </div><br />
<% else %>
  <% if @questions.count == 0  %>
    <div class="segoepr-font">
      <span>There are not any questions yet.</span>
    </div><br />
  <% else %>
    <% @questions = @questions_all %>
    <ul class="nav nav-pills link-font blue">
      <li class="disabled"><%= link_to 'All questions',
                                       questions_path(type_questions: 'All questions'),
                                       remote: true %></li>
      <li><%= link_to 'Questions with answers',
                      questions_path(type_questions: 'Questions with answers'),
                      remote: true %></li>
      <li><%= link_to 'Questions without answers',
                      questions_path(type_questions: 'Questions without answers'),
                      remote: true %></li><br /><br /><br />
    </ul>
    <%= render'questions/shared_index/categories_turn_over',
               categories_array: @question_categories, type_questions: @type_questions %><br />
  <% end %><br />
  <%= render 'questions/shared_index/new_question' %>
<% end %><br /><br />
