<ul class="segoepr-font">
  <% @questions.each do |question| %>
    <% question_id = question.id %>
    <% if question.question_category_id == category_id %>
      <li class="question">
        <td>
          <% answer = Answer.find_by(question_id: question_id, user_id: @user_id) %>
          <% if answer %>
            <%= link_to question.text,
                        question_path(question, type_questions: type_questions),
                        class: 'text-success' %>
          <% else %>
            <%= link_to question.text,
                        question_path(question, type_questions: type_questions),
                        class: 'text-warning' %>
          <% end %>
        </td>
        <% if can? :access, :rails_admin %>
          <td><%= link_to 'Edit', rails_admin.edit_path(model_name: 'question', id: question_id),
                          class: 'btn btn-mini btn-warning' %></td>
        <% end %>
        <% if can? :destroy, question %>
          <td><%= link_to 'Destroy', question_path(question),
                          method: :delete,
                          data: { confirm: 'Are you sure?' },
                          class: 'btn btn-mini btn-danger',
                          remote: true  %></td>
        <% end %>
        <span class="answer-form-data"
              data-questionid = <%= "#{question_id}" %>
              data-answertextold = <%= answer ? answer.text : '' %>>
          <span class="answerid"><input type="hidden" value="<%= answer ? answer.id : 0 %>" /></span>
        </span>
      </li>
    <% end %>
  <% end %>
</ul>
