<% if @question_categories.count == 0 %>
  <%= render 'questions/shared_index/type_questions_menu/message',
             message: "There are not neither categories nor questions yet.\n
                       Create at least one category, before create a question" %>
<% else %>
  <% if @questions.count == 0  %>
    <%= render 'questions/shared_index/type_questions_menu/message',
               message: 'There are not any questions yet' %>
  <% else %>
    <% @questions = @questions_all %>
    <ul class="nav nav-pills link-font blue">
      <li class="disabled">
        <%= render 'questions/shared_index/type_questions_menu/link',
                   type_questions: 'All questions' %>
      </li>
      <li>
        <%= render 'questions/shared_index/type_questions_menu/link',
                   type_questions: 'Questions with answers' %>
      </li>
      <li>
        <%= render 'questions/shared_index/type_questions_menu/link',
                   type_questions: 'Questions without answers' %>
      </li><br /><br /><br />
    </ul>
    <%= render'questions/shared_index/categories_turn_over',
              categories_array: @question_categories,
              type_questions: @type_questions %>
  <% end %><br />
  <%= render 'questions/shared_index/new_question' %>
<% end %><br /><br />
