
<ul class="nav nav-pills link-font">
  <li>
    <%= render 'questions/shared_index/type_questions_menu/link',
               type_questions: 'All questions' %>
  </li>
  <li class="disabled">
    <%= render 'questions/shared_index/type_questions_menu/link',
               type_questions: 'Questions with answers' %>
  </li>
  <li>
    <%= render 'questions/shared_index/type_questions_menu/link',
               type_questions: 'Questions without answers' %>
  </li><br /><br /><br />
</ul>
<% if !@questions || @questions == [] %>
    <%= render 'questions/shared_index/type_questions_menu/message',
               message: 'There are not any answers yet' %>
<% else %>
    <%= render'questions/shared_index/categories_turn_over',
              type_questions:      type_questions,
              question_categories: question_categories %>
    <br />
    <%= render 'questions/shared_index/new_question' %>
<% end %><br /><br />
