<% category_id = category.id %>
<li class="text-primary", id="<%= category_id + 10000 %>">
  <td class="text-primary"><%= category.name %></td>
  <%= render 'questions/shared_index/links/edit_link',
             category_id: category_id %>
  <%= render 'questions/shared_index/links/destroy_link', category: category %>
  <% unless array_ancestor_ids.empty? %>
    <% next_category = QuestionCategory.find(array_ancestor_ids[0]) %>
    <% array_ancestor_ids = array_ancestor_ids[1..-1] %>
    <%= render 'questions/shared_index/questions_paginate/categories',
               type_questions:     type_questions,
               category:           next_category,
               array_ancestor_ids: array_ancestor_ids %>
  <% else %>
    <% while @index_questions < @length_questions do %>
      <% question = @questions[@index_questions] %>
      <% if question.question_category_id == category_id %>
        <ul class="segoepr-font">
          <%= render 'questions/shared_index/questions_paginate/question',
                     type_questions: type_questions,
                     question:       question %>
          <% @index_questions += 1 %>
        </ul>
      <% else %>
        <% next_category = question.question_category %>
        <% array_ancestor_ids = next_category.ancestor_ids %>
        <% if category_index = array_ancestor_ids.index(category_id) %>
          <% array_ancestor_ids = array_ancestor_ids << next_category.id %>
          <% next_category = QuestionCategory
                               .find(array_ancestor_ids[category_index+1]) %>
          <% array_ancestor_ids = array_ancestor_ids[category_index+2..-1] %>
          <%= render 'questions/shared_index/questions_paginate/categories',
                     type_questions:     type_questions,
                     category:           next_category,
                     array_ancestor_ids: array_ancestor_ids %>
        <% end %>
        <% break %>
      <% end %>
    <% end %>
  <% end %>
</li>
